.container {
  display: flex;
  width: 85%;
  margin: auto;
  height: 90vh;
}
.textContent {
  margin-top: 8rem;
}
.textContent h3 {
  font-family: "Bree Serif", serif;
}
.textContent p {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.textContent input {
  margin-top: 3rem;
  height: 50px;
  width: 250px;
  padding: 0px 10px;
  border-radius: 8px;
  outline: none;
}
.imageContent img {
  margin-top: 2rem;
  width: 100%;
  object-fit: cover;
}
.getStartedBtn {
  height: 50px;
  margin-left: 20px;
  padding: 10px 16px;
  border-radius: 8px;
  background-color: var(--theme-ui-colors-primary);
  color: white;
  border: none;
}
.getStartedBtn:hover {
  background-color: var(--theme-ui-colors-secondary);
}

.textContent input:focus {
  border-color: var(--theme-ui-colors-primary);
  outline: var(--theme-ui-colors-primary);
}
.imageContainer {
  margin-top: 1rem;
}
.imageContainer img {
  margin-right: 15px;
}
