.container {
  display: flex;
}
.formContainer {
  flex: 2;
  margin: 10rem 2rem;
}
.formContainer h2 {
  margin-bottom: 1rem;
}
.inputField {
  width: 90%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  outline: none;
  border: 1px solid rgb(36, 36, 36);
}
.formContainer a {
  color: var(--theme-ui-colors-secondary);
}
.imageContainer {
  flex: 6;
  height: 100vh;
  width: auto;
}
.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.loginBtn {
  width: 100px;
  background-color: var(--theme-ui-colors-primary);
  color: var(--theme-ui-colors-background);
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.loginBtn:hover {
  background-color: var(--theme-ui-colors-secondary);
}
